<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= product.Name  %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">

  </div>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/product/"> محصولات</a></li>
          <li class="breadcrumb-item active"><%= product.Name  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated <%= new Date(product.updatedAt).toUTCString() %> </b>
      <b>UserId:</b> <%= product._id %>
    </div>
  </div>

</div>

<ul class="list-group">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>نام:</b></div>
      <div class="col"><%= product.Name %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>تصویر:</b></div>
      <div class="col"><img src="<%= product.Picture %>"></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>قیمت:</b></div>
      <div class="col"><%= product.Price %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>دسته بندی:</b></div>
      <div class="col"><%= product.Category %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Picture Alt:</b></div>
      <div class="col"><%= product.PictureAlt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Picture Title:</b></div>
      <div class="col"><%= product.PictureTitle %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>تاریخ ایجاد:</b></div>
      <div class="col"><%= product.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>آخرین اپدیت:</b></div>
      <div class="col"><%= product.updatedAt %></div>
    </div>
  </li>

</ul>